<%- include("templates/header") %>

    <div class="row">
        <div class="col d-flex justify-content-md-center">
            <h1>You are on the admin page, <%= userCurrent %>
            </h1>
        </div>
    </div>
    <ol>
        <% let i=0; %>
            <% for(i=0; i < users.length; i++) { %>
                <%- include('templates/user', {user: users[i]}) %>
            <% } %>
    </ol>

<%- include("templates/footer") %>